NODE_ENV=development

SERVER_PORT=8099
SERVER_HOST=localhost

ENABLE_BASIC_AUTHENTICATION=false
BASIC_AUTH_LOGIN=test
BASIC_AUTH_PASS=pass

THUMBNAIL_LOCATION=./~thumbs
FILESYSTEM_ROOT=D:\symlinks
PRIVATE_PATH_PREFIX=-

GENERATE_SOURCEMAP=false

CACHING=true

# default = libx264
# amd gpu = h264_amf
# nvidia gpu = h264_cuvid
# raspi = h264_omx
FFMPEG_DEFAULT_VIDEO_CODEC=libx264
